.blogBanner{
  background: url('https://saastastebuds.files.wordpress.com/2012/02/turmeric4.jpg');
  position: sticky;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
}